.bg {
    background-image: url('./bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 83vh;
}

.embed-twitch {
    width: 72vw;
    height: 80vh;
    border: 4px solid #7D50E4;
    border-radius: 5px;
}

.embed-youtube {
    width: 26vw;
    height: 30vh;
    border: 4px solid #7D50E4;
    border-radius: 5px;
}

.embed-chat {
    width: 26vw;
    height: 100%;
    border: 4px solid #7D50E4;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.right {
    height: 80vh;
}